.postsBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 2fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.posts {
    display: grid;
    grid-auto-rows: 100px;
    grid-row-gap: 20px;
}