.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 20px 0 20px 20px;
}

.nav .item:hover {
    background-color: #e1e5eb;
}

.item {
    padding: 10px;
}

.item a {
    color: #285473;
    text-decoration: none;
}

.item a.active {
    font-weight: bold;
}