.app-wrapper {
    /* все первые потомки (на одном уровне) кот. находятся внутри блока будут вести себя как grid элементы */
    margin: 0 auto;
    display: grid;
    width: 1200px;
    background-color: #edeef0;

    grid-template-areas: "h h" "n c";
    /* кол-во строк в grid - 2 (header, content) */
    /* 60px - высота, 1fr - фракция (сколько равных частей будет занимать колонка) */
    grid-template-rows: 60px 1fr;
    /* кол-во колонок в grid - 2 (nav, content) */
    grid-template-columns: 200px 10fr;
    /* расстояние между элементами */
    grid-column-gap: 20px;
}

.app-wrapper-content {
    padding: 20px 20px 0 0;
    background-color: #edeef0;
    grid-area: c;
}

.page-block {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: #fff;
}
